@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e4e2e2c1;
    --foreground: #ededed;
  }
}

html, body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, sans-serif;
  margin: 0;
  padding: 0;
}
